<div class="callout">
    <div class="row expanded align-justify">
        <div *ngIf="user.getChatMemberOnChat(chat.id).is_member">
            <a [routerLink]="['/Chat/Details', {id: chat.id}]">
                <strong>&nbsp;{{ chat.name }}</strong>
            </a>
        </div>
        <div *ngIf="user.getChatMemberOnChat(chat.id).is_banned">
            <strong>&nbsp;{{ chat.name }}</strong>
            <span>Vous avez été banni de cette conversation.</span>
        </div>
        <div *ngIf="!user.getChatMemberOnChat(chat.id).is_member && !user.getChatMemberOnChat(chat.id).is_banned">
            <strong>&nbsp;{{ chat.name }}</strong>
            <button class="hollow small button" (click)="changeRole(myChatMember.id,'member')"
             *ngIf="!myChatMember.is_member && !myChatMember.isBanned">
                Rejoindre la discussion
            </button>
        </div>
    </div>
</div>
